<component name="libraryTable">
  <library name="spring-aspects-5.0.4.RELEASE">
    <CLASSES>
      <root url="jar://D:/installtools/Spring/spring-framework-5.0.4.RELEASE/libs/spring-aspects-5.0.4.RELEASE.jar!/" />
      <root url="jar://D:/installtools/Spring/spring-framework-5.0.4.RELEASE/libs/spring-beans-5.0.4.RELEASE.jar!/" />
      <root url="jar://D:/installtools/Spring/spring-framework-5.0.4.RELEASE/libs/spring-context-5.0.4.RELEASE.jar!/" />
      <root url="jar://D:/installtools/Spring/spring-framework-5.0.4.RELEASE/libs/spring-core-5.0.4.RELEASE.jar!/" />
      <root url="jar://D:/installtools/Spring/spring-framework-5.0.4.RELEASE/libs/spring-expression-5.0.4.RELEASE.jar!/" />
    </CLASSES>
    <JAVADOC />
    <SOURCES />
  </library>
</component>